.shop{
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
        gap: 1.5rem;

        width: 100%;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 5px 0;

        .green{
            color: var(--green);
        }
    }

}