.search-form{
    position: fixed;
    top: -110%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 11000;
    background: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    &.active{
        top: 0;
    }

    input{
        width: 50rem;
        border-bottom: .1rem solid var(--white);
        padding: 1rem 0;
        font-size: 3rem;
        text-transform: none;
        color: var(--white);
        background: none;
        &::placeholder{
            color: var(--light-grey);
        }
        &::-webkit-search-cancel-button{
            -webkit-appearance: none;
        }
    }

    label{
        color: var(--white);
        cursor: pointer;
        font-size: 3rem;
    
        &:hover{
            color: var(--green);
        }
    }
}

@media screen and (max-width: 768px){
    .search-form{
        input{
            width: 90%;
            margin: 0 1rem;
        }
    }
}