.blogs{
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
        gap: 1.5rem;
    
    
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap: 1.5rem;
    }
}